@import url(//db.onlinewebfonts.com/c/1284fed5b849cf2914ad995665825e2f?family=Marker+Felt);

ion-content{
  --ion-background-color: #67c2ce;
}
h1{
  font-size: 55px;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .main-title{
    text-align: center;
  }

  .main-choices{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .btn-primary{
      width: 320px;
      height: 65px;
      font-size: 30px;
    }
  }
}

.mt{
  margin-top: 100px;
}

.font{
  font-family: "Marker Felt";
}
ion-slides{
  height: 100%;
}

.mainimg{
  width: 250px;
}
.heartimg{
  width: 30%;
}

.pad{
  text-align: justify;
  padding: 30px;
}
.swiper-pagination.swiper-pagination-bullets {
  background: white;
}