@import url(//db.onlinewebfonts.com/c/1284fed5b849cf2914ad995665825e2f?family=Marker+Felt);

ion-content{
    --ion-background-color: #67c2ce;
  }

.clock{
    font-family: "Marker Felt";
    z-index: 2;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1.2em;
    width: 100%;
    top: 20%;
    left: 32%;
  }

  .lifes {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 2%;
    left: 60%;
  }

  .heart {
    width: 1.8em;
    height: auto; 
  }

  ion-button {
    font-size: 14px !important;
  }

  .typeAnswer {
    font-family: "Marker Felt";
    height: 70px;
    width: 100%;
  }

.question{
  font-size: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
}

img.img-li {
  position: relative;
  margin-top: 2em;;
  display: flex;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
}
.row-form-cash{
  display: flex;
  justify-content: center;
  .form-cash{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    .input-answer{
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
      width: 100%;
      background-color: white;
      font-family: "Marker Felt";
      color: black;
    }

    .btn-validate{
      margin: unset;
      height: 39px;
      background-color: rgb(56,128,255);
      color : white;
      font-family: "Marker Felt";
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      width: 80px;
    }
  }
}
.row-sentence-answer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-question {
  position: relative;
  margin-top: 20%;
  width: 100%;
  height: 8em;
}

.btn-answer{
  height: 50px;
}

